@font-face {
    font-family: 'Allura';
    src: url('./fonts/Manrope-VariableFont_wght.woff2') format('woff2'),
        url('./fonts/Manrope-VariableFont_wght.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('./fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
  
}
:root{
  --dark-blue: #68828a;
  --blue: #BBDCE5;
  --brown: #CFAB8D;
  --light-brown: #D9C4B0;
  --light-color: #ECEEDF;
  --delete-color: #c05555;
  --delete-active-color: #8f3d3d;
  --dark-color: #291d0e;
}

body {
  background-color: var(--light-color);
  height: 100vh;
  font-family: "Allura", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--dark-color)
}
h2{
  font-family: "BebasNeue", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.8rem;
  margin: 10px;
}
#container{
  display: grid;
  height: 100%;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
}
.projects-container{
  background-color: var(--brown);
  grid-row: 1/-1;
  grid-column: 1/2;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px minmax(800px, 1vh) 50px;
  grid-template-columns: 1fr 40px;
}

/* --------- PROJECT SIDEBAR STYLING ------------ */

.project-list-container{
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
  margin: 10px;
  gap: 10px;
  border: 2px solid var(--dark-blue);
  overflow: auto;
}

.project{
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 1fr;
}
.project p{
  grid-column: 1/2;
  grid-row: 1/-1;
  pointer-events: none;
  align-self: center;
  margin-left: 10px;
}
.project .project-button{
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: var(--light-brown);
  border: none;
  transition: all 0.2s ease;
}
.selected .project-button{
  background-color: var(--blue);
}
.selected p{
  text-decoration: underline;
}
.project .project-button:hover{
  background-color: var(--blue);
}
.project .project-button:active{
  background-color: var(--dark-blue);
}
.project-delete{
  grid-row: 1/-1;
  grid-column: 2/-1;
  place-self: center;
  width: 30px;
  height: 30px;
  border:none;
  font-size: 1.1rem;
  background-color: var(--light-color);
  transition: all 0.2s ease;
  color: var(--dark-color);
}
.project-delete:hover{
  background-color: var(--delete-color) ;
  color: var(--light-color)
}
.project-delete:active{
  background-color: var(--delete-active-color) ;
  color: var(--light-color)
}
.sidebar-button{
  border-radius: 10px;
  border:none;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
  display: grid;
  place-content: center;
}
.sidebar-button i{
  transition: all 0.1s ease;
  color: var(--blue);
}
.sidebar-button:hover i{
    color: var(--dark-blue);
    transform: scaleY(1.2);
    font-size: 1.4rem;
}
.sidebar-button:active i{
    font-size: 1.4rem;
    color: var(--blue);
    transform: scaleY(0.9);
}
.new-project-button{
  grid-column: 1/-1;
  margin: 0 10px;
  background-color: var(--dark-blue);
  color: var(--light-color);
  border: none;
  box-shadow: 2px 2px 4px var(--dark-color);
  border-radius: 5px;
  font-family: "BebasNeue", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
  transition: all 0.2s ease;
}
.new-project-button:hover{
  background-color: var(--blue);
  color: var(--dark-color);
}
.new-project-button:active{
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* TO DO SECTIONS STYLING*/

.todos-container{
  grid-column: 2/3;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: minmax(500px, 635px) 250px;
  gap: 20px;
  margin: 10px;
  
}
.ongoing-container{
  background-color: var(--brown);
  border-radius: 10px;
  display:grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 250px;
  overflow: auto;
  
}
.ongoing-todos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 250px;
  grid-auto-rows: 250px;
  gap: 10px;
  grid-column: 1/-1;
  margin: 20px;
}
.project-sort-container{
  align-self: center;
}
.add-todo-container{
  display: grid;
}
.add-todo-container button{
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: var(--light-brown);
  border:none;
  transition: all 0.2s ease;
  border-radius: 5px;
}
.add-todo-container .add-circle{
  grid-column: 1/-1;
  grid-row: 1/-1;
  pointer-events: none;
  background-color: var(--light-color);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  place-self: center;
  display: grid;
  place-items: center;
  font-size: 4rem;
  transition: all 0.2s ease;
}
.add-todo-container button:hover{
  background-color: var(--blue);
  transform: rotate(2deg);
}
.add-todo-container button:hover + .add-circle{
  background-color: var(--dark-blue);
  color: var(--light-color);
  transform: rotate(2deg);

}
.add-todo-container button:active{
  background-color: var(--dark-blue);
}
.add-todo-container button:active + .add-circle{
  background-color: var(--blue);
  color: var(--light-color)
}
/* SINGLE ONGOING TASK STYLING */
.ongoing-task{
  border-radius: 5px;
  background-color: var(--light-brown);
  display:grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 20px 40px 1fr 40px 40px;
  padding: 5px;
  border: 3px solid var(--dark-blue);
  box-shadow: 3px 3px 10px var(--dark-color);
  transition: all 0.2s ease;
}
.ongoing-task:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 10px var(--light-color);
  border: 3px solid var(--blue);

}
.due-in{
  grid-column: 1/-1;
  text-align: center;
  color: var(--dark-blue);

}
.ongoing-task .task-name, .ongoing-task .task-priority{
  font-family: "BebasNeue", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  align-self: center;
}
.task-name{
  padding-left: 10px;
}
.task-dueDate{
  align-self: center;
}
.task-complete, .task-edit{
  margin-right: 5px;
  background-color: var(--dark-blue);
  border:none;
  border-radius: 3px;
  font-family: "BebasNeue", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  color: var(--light-color);
  transition: all 0.2s ease;
}
.task-complete:hover, .task-edit:hover{
  background-color: var(--blue);
  color: var(--dark-color);

}
.task-complete:active, .task-edit:active{
  background-color: var(--light-color);
}
.task-edit{
  margin: 5px 0;
  font-size: 1rem;
}
.task-delete{
  font-size: 1.3rem;
  background-color: var(--light-color);
  border:none;
  border-radius: 3px;
  color: var(--dark-color);

}
.task-delete:hover{
  background-color: var(--delete-color);
  color: var(--light-color);
}
.task-delete:active{
  background-color: var(--delete-active-color);
  color: var(--light-color);
}

.ongoing-task .task-description{
  grid-column: 1/-1;
}

/* COMPLETED TO DO SECTION STYLING */
.completed-container{
  background-color: var(--brown);
  grid-row: 2/-1;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px 180px;
  padding: 10px
}
.completed-todos{
  display: grid;
  grid-template-rows: 40px;
  grid-auto-rows: 40px;
  gap: 10px;
  border: 3px solid var(--dark-blue);
  overflow: auto;
}
.completed-task{
  display: grid;
  grid-template-columns: 1fr 120px 40px
}
.task-uncomplete{
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-color: var(--light-brown);
  border: none;
  transition: all 0.2s ease;
}
.task-uncomplete:hover{
  background-color: var(--blue);
}
.task-uncomplete:active{
  background-color: var(--dark-blue);
}
.completed-name{
  grid-row: 1/-1;
  grid-column: 1/2;
  pointer-events: none;
  align-self: center;
  margin-left: 20px;
  font-size: 1.2rem;
  text-decoration:line-through 3px var(--dark-blue);
}
.task-uncomplete:hover + .completed-name{
  text-decoration:none;
}
.task-uncomplete:active + .completed-name{
  color: var(--light-color)
}
.completed-date{
  grid-column: 2/3;
  grid-row: 1/-1;
  pointer-events: none;
  place-self: center;
}
.completed-delete{
  grid-row: 1/-1;
  grid-column: 3/-1;
  width: 30px;
  height: 30px;
  place-self: center;
  background-color: var(--light-color);
  border:none;
  border-radius: 3px;
  color: var(--dark-color);
  transition: all 0.2s ease;
}
.completed-delete:hover{
  background-color: var(--delete-color);
  color: var(--light-color)

}
.completed-delete:active{
  background-color: var(--delete-active-color);
  color: var(--light-color);
}

/* NEW PROJECT DIALOG */
#new-project-dialog{
  position: absolute;
  width: 400px;
  height: 200px;
  top: calc(50% - 250px);
  left:calc(50% - 200px);
  color: var(--dark-color);
}
#new-project-dialog i, #new-project-dialog button{
  color: var(--dark-color);

}